
section header{
    border-top: 1px solid var(--stroke-color);
    padding-block: 12px 24px;
    font: var(--text-span);

    a {
      justify-self: end;
      align-items: center;
      gap: 4px;
  
      span{
        background-image: url(../assets/icons/ArrowRight.svg);
        width: 16px;
        height: 16px;
      }
  
      &:hover span{
        background-image: url(../assets/icons/ArrowRight-hover.svg);
      }
      
    }
  }

#featured {
  grid-area: featured;
  img {
    height: 100%;
    object-fit: cover;
  }
}

.card {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  /* Mesma coisa de .card::before, pois está dentro do objeto que iria reproduzir o nested */

  &::before{
    content: "";
    position: absolute;
    inset: 0;
    top: 50%;
    background: linear-gradient(
      180deg,
      transparent 0%,
      #020617 100%
      );
    }

  figcaption {
    position: absolute;
    bottom: 0;
    padding: 24px;
    /* Verifica se tem algo */
    &:has(.text-lg){
      padding: 12px;
    }
    
    h2, h3 {
      margin-top: 8px;
    }
    
  }
}

.card-2 {
  border-radius: 4px;
  overflow: hidden;
  position: relative;

  &::before{
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    transparent 0%,
    #020617 100%
    );
  }

  figcaption {
    position: absolute;
    bottom: 0;
    padding: 12px;
    /* Verifica se tem algo*/
    &:has(.text-lg){
      padding: 12px;
    }
    
    h2, h3 {
      margin-top: 8px;
    }  
  }
}

#weekly {
  grid-area: weekly;

  &>div {
    grid-template-columns: repeat(4, 292px);
  }
  
  img{
    height: 160px;
  }

  figure {
    position: relative;

    .content-tag {
      position: absolute;
      top: 8px;
      left: 8px;
    }
    p {
      margin-top: 8px;
      font-weight: 800;
    }
  }
}

#ai{
  grid-area: ai;
  img {
    width: 176px;
    /* Deixo a imagem quadrada, trabalho com a proporção dela */
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  h3{
    margin-block: 8px 4px;
   }
}

#more {

  margin-top: 32px;

  h3{
    margin-top: 8px;
  }
  img{
    width: 72px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

aside {
  grid-area: aside;
}

#ads {
  position: relative;

  img {
    border-radius: 4px;
  }

  span {
  position: absolute;
  background-color: white;
  width: 20px;
  height: 20px;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  cursor: pointer;

  img{
    width: 16px;
  }
  }
}