/* utilitary-first */
.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.gap-16 {
  gap: 16px;
}

.gap-32 {
  gap: 32px
}

/* Texto 2x grande */
.text-2xl {
  font: var(--text-h1);
}

/* Texto grande */
.text-xl {
  font: var(--text-h2);
}

/* Texto large */
.text-lg  {
  font: var(--text-h3);
}

/* Texto small */
.text-sm  {
  font: var(--text-sm);
}

.text  {
  font: var(--text);
}

.text-paragraph  {
  font: var(--text-paragraph);
}